@model WebAplikacija.ViewModels.MonthlyBillViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detaliau mėnesio sąskaita</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sąskaitos aprašymas:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillDescription)
        </dd>
        @if (Model.PayedBillsMonths.Count != 0)
        {
            <dt>
                Sumokėti mėnesiai:
            </dt>
			foreach (var month in Model.PayedBillsMonths)
            {
                string yearMonth = month.PayedBillMonth.ToString("yyyy-MMMM");
                <dd>
                    @yearMonth
                </dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Koreguoti", "Edit", new { id = Model.BillId }) |
    @Html.ActionLink("Atgal", "Index")
</p>
