<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="PurchasesEntities" connectionString="metadata=res://*/PurchasesModel.csdl|res://*/PurchasesModel.ssdl|res://*/PurchasesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Monika-PC;initial catalog=Purchases;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MonthlyBillsEntities" connectionString="metadata=res://*/MonthlyBillsModel.csdl|res://*/MonthlyBillsModel.ssdl|res://*/MonthlyBillsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Monika-pc;initial catalog=Purchases;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>