
@{
    ViewBag.Title = "Indext";
}

@model WebAplikacija.Models.PurchasesListModel

<div class="form-group">
    <label class="control-label col-md-2">Jūsų pirkinių sąrašas:</label>
    <ul class="list-group col-md-4">
        @if (Model.PurchasesList != null)
        {
            foreach (var el in Model.PurchasesList)
            {
                <li class="list-group-item" id=@el.ID>
                    @el.Name - @el.Price Lt
                    <a href="@Url.Action("Delete", "Home", new { id = @el.ID })" class="btn badge">
                        &times;
                    </a>
                </li>
            }
        }
    </ul>
</div>